.menu-item{
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 8px;
  &:hover{
    background-color: rgba(22, 24, 35, .03);
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
  }
  &.active{
    color: var(--primary-color);
    .icon{
      display: none;
    }
    .active-icon{
      display: flex;
    }
  }

}
.icon ,.active-icon{
  display: flex;
  align-items: center;
}
.title{
  margin-left: 10px;
}
.active-icon{
  display: none;
}